<p id="notice"><%= notice %></p>

<div class="index-main-container">
  <!-- <div class="row">
  <div class="col-xs-10 col-xs-offset-1"> -->
  <div>
    <h1>Cocktails</h1>
  </div>

  <!-- <img src="../../assets/images/cocktails-home" alt="cocktail"> -->
  <div>
    <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1286&q=80" style="width: 300px; height: 200px" alt="">
  </div>

  <hr>

  <p> <strong> SYNCHRO OK </strong> <p>

<!--   <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @cocktails.each do |cocktail| %>
          <tr>
            <td><%= cocktail.name %></td>
            <td><%= link_to 'Show', cocktail %></td>
            <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
            <td><%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> -->

  <% cocktails = ["https://images.unsplash.com/photo-1453825012366-3738046cb6c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80", "https://images.unsplash.com/photo-1530064161350-7824b8cdeee9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", "https://images.unsplash.com/photo-1500217052183-bc01eee1a74e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", "https://images.unsplash.com/photo-1544145945-f90425340c7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", "https://images.unsplash.com/photo-1522224050657-33e363782179?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"] %>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('<%= cocktails.sample %>');">
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
              <p> <%= link_to 'Show', cocktail %> </p>
            </div>
          </div>
        </div>
      <% end %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
              <%= cl_image_tag("x6obhf8gexv2zeytslue", width: 236, height: 175, crop: :fill) %>
            <div class="card-description">
              <h2>Cocktail NAME</h2>
            </div>
        </div>
        </div>
    </div>
  </div>


  <br>

  <div>
    <%= link_to 'New Cocktail', new_cocktail_path %>
  </div>

<!-- </div>
</div> -->
</div>
